/*=========================
	All css
==========================*/
@import url("../vendors/bootstrap/css/bootstrap.min.css");
@import url("../vendors/fontawesome/css/font-awesome.min.css");
@import url("../vendors/flaticon/flaticon.css");
@import url("../vendors/line-awesome/css/line-awesome.min.css");
@import url("../vendors/themify/themify-icons.css");
@import url("../vendors/owl-carousel/owl.carousel.css");
@import url("../vendors/bootstrap-select/bootstrap-select.min.css");
@import url("../vendors/magnific-popup/magnific-popup.css");
@import url("../vendors/scroll/scrollbar.css");
@import url("../vendors/switcher/switcher.css");

/*=========================
	All css
==========================*/
@import url('../../../../css.css');

/*
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Montserrat', sans-serif;
*/